
<div class="row  col-md-12 d-flex justify-content-center" style="padding-bottom: 0px;">

    <div class="col-md-2 ">
        <h1 id="idStatusFail">
            {{statusResult}}
        </h1>
        <p for="idStatusFail">Total Tests</p>

    </div>

    <div class="col-md-2">
        <h1>
            {{statusPassed}}
            
        </h1>
        <p for="idStatusFail">Tests Passed</p>

    </div>
    
   
    
    <div class="col-md-2">
        <h1>
            {{statusFail  }}
            
        </h1>
        <p for="idStatusFail">Tests Failed</p>

    </div>

    <div class="col-md-2">
        <h1>
            {{statusCancelled}}
            
        </h1>
        <p for="idStatusFail">Tests Cancelled</p>

    </div>

    
    
</div>

