<form [formGroup]="form"  >
    <div class="row">
      <span class="col-md-3 col align-self-end form-title">
        PWO
       
        <p-autoComplete
          class="p-inputtext-md"
          [suggestions]="this.pwoallvaluesTemp"
          (change)="changePWO($event)"
          (onSelect)="onSelectPWO($event)"
          [forceSelection]="true"
          formControlName="pwo"
          placeholder="select PWO"
          [dropdown]="true"
          (completeMethod)="filterPWO($event)"
          [style]="{ width: '100%', height: '30px', border: '10px' }"
        >
        </p-autoComplete>
        <p class="position-relative">
          <p-message
            severity="error"
            *ngIf="
              form.get('pwo')?.hasError('required') &&
              form.get('pwo')?.touched
            "
            text="PWO is required"
          >
          </p-message>
        </p>
      </span>

      <span class="col-md-3 col align-self-end form-title">
        Serial Number
        <p-autoComplete
          class="p-inputtext-md"
          [suggestions]="this.serialnumbers"
          [dropdown]="true"
          (change)="changeSerial($event)"
          (onSelect)="onSelectSerial($event)"
          [forceSelection]="true"
          placeholder="select serial #"
          (completeMethod)="filterSerialNumbers($event)"
          formControlName="ctrl_WO"
          [style]="{ width: '100%', height: '30px', border: '10px' }"
        >
        </p-autoComplete>
      </span>
      <div class="col-sm-3 col align-self-start custom-disabled-input">
        <span class="form-title">Item</span>
        <input
          type="text"
          formControlName="item"
          id="inputsize"
          class="p-inputtext-sm"
          pInputText
          [ngClass]="{ 'p-disabled': true }"
          readonly
        />
      </div>

      <div class="col-md-3">
        <span class="form-title">Cust PO</span>
        <input
          type="text"
          formControlName="custpo"
          id="inputsize"
          class="p-inputtext-sm"
          pInputText
          [ngClass]="{ 'p-disabled': true }"
          readonly
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span class="form-title">Description</span>
        <input
          placeholder=""
          type="text"
          id="inputsize"
          formControlName="Description"
          class="p-inputtext-sm"
          pInputText
          [ngClass]="{ 'p-disabled': true }"
          readonly
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <span class="form-title col align-self-start">Operator</span>
        <input
          maxlength="255"
          type="text"
          formControlName="Operator"
          id="inputsize"
          class="p-inputtext-sm"
          [ngClass]="{ 'p-disabled': true }"
          readonly
          pInputText
        />
      </div>
      <div class="col-md-2">
        <span class="form-title">Chain</span>
        <input
          type="text"
          class="p-inputtext-sm"
          id="inputsize"
          maxlength="50"
          formControlName="chain"
          pInputText
          [ngClass]="{ 'p-disabled': true }"
          readonly
        />
      </div>
      <div class="col-md-2">
        <span class="form-title">Legs</span>
        <input
          type="text"
          class="p-inputtext-sm"
          id="inputsize"
          [ngClass]="{ 'p-disabled': true }"
          maxlength="50"
          formControlName="legs"
          pInputText
          readonly
        />
      </div>
      <div class="col-md-2">
        <span class="form-title">WLL</span>
        <input
          placeholder=""
          id="inputsize"
          [ngClass]="{ 'p-disabled': true }"
          type="text"
          id="inputsize"
          formControlName="wll"
          class="p-inputtext-sm"
          pInputText
          readonly
        />
      </div>
      <div class="col-md-2 col align-self-start required">
        <span
          class="form-title"
          [ngClass]="{ required: this.checkRequired('target') }"
          >Target</span
        >
        <input
          id="inputsize"
          placeholder=""
          type="number"
          formControlName="target"
          class="p-inputtext-sm"
          pInputText
        />

        <p class="position-relative">
          <p-message
            severity="error"
            *ngIf="
              form.get('target')?.hasError('required') &&
              form.get('target')?.touched
            "
            text="Target is required"
          >
          </p-message>
        </p>
      </div>
    </div>
   
 
  </form>